
@{
    ViewData["Title"] = "ShowSessionView";
}

<h1>ShowSessionView</h1>

<p>Values from session.</p>
<p>Using Session</p>
<p>A: @ViewBag.a</p>
<p>B: @ViewBag.b</p>
<p>AB: @ViewBag.ab</p>
<p>C: @ViewBag.c</p>
<br />
<p>Using TempData</p>
<p>A: @ViewBag.ta</p>
<p>B: @ViewBag.tb</p>
<p>AB: @ViewBag.tab</p>
<p>C: @ViewBag.tc</p>

<a class="btn-primary" href="/home/ShowSessionView2" role="button">ShowSessionView2</a>